html,body {
	background-color: #fff;
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.container>footer p {
	text-align: center;
}

.contenedor {
	position: relative;
	min-height: 500px;
}

footer {
	margin-top: 45px;
	padding: 35px 0 36px;
	border-top: 1px solid #e5e5e5;
}

.informacion {
	padding-bottom: 5px;
	margin-top: 5px;
}

.media {
	padding-top: 10px;
}

.media-body {
	padding-right: 10px;
}
}
/*
.conbordes {
	border-collapse: separate;
} */
