<!DOCTYPE html>
<html>
    <head>
        <title>Investigacion de Sistemas</title>
        <link rel="stylesheet" type="text/css" href="/recursos/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/recursos/bootstrap/css/bootstrap-responsive.min.css"/>
        <script type="text/javascript" src="/recursos/jquery/jquery-1.8.1.min.js"></script>
        <script type="text/javascript" src="/recursos/bootstrap/js/bootstrap.min.js"></script>
        <style type="text/css">
            body {
            padding-top: 60px;
            padding-bottom: 40px;
            }
        </style>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li>
                            <a class="brand" href="/">Investigacion de Sistemas</a>
                        </li>
                        <li class="#if($menuSeleccionado=="inicio")active #end"">
                            <a href="/">Inicio</a>
</li>
<li class="#if($menuSeleccionado=="noticias")active #end"">
    <a href="/noticias">Noticias</a>
                        </li>
                        <li class="#if($menuSeleccionado=="materia")active #end"">
                            <a href="/materia">Materia</a>
</li>
<li class="#if($menuSeleccionado=="contacto")active #end"">
    <a href="/contacto">Contacto</a>
                        </li>
                    </ul>
                    <ul class="nav">
                        <li class="dropdown">  
                            <a href="#"  
                                class="dropdown-toggle"  
                                data-toggle="dropdown">  
                                Administrar  
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/administracion/noticias">Noticias</a>
                                </li>
                                <li>
                                    <a href="#">Materia</a>
                                </li>
                                <li>
                                    <a href="#">Comentarios</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container">
            $screen_content
            <footer>
                <p>&copy; Investigacion de Sistemas 2012, Universidad Argentina John F. Kennedy</p>
            </footer>
        </div>
        <!-- /container -->
    </body>
</html>
