#set($nroNoticia = 0)
#if($noticias.size() > 0)
    #foreach($noticia in $noticias)
        #set($nroNoticia = $nroNoticia + 1)
        #if($nroNoticia == 1)
            <div class="hero-unit">
                <h1>$noticia.titulo</h1>
				$noticia.fechaPublicacion
                <p>$noticia.subtitulo</p>
                <p>
                    <a class="btn btn-primary btn-large" href="#">Ver Completo &raquo;</a>
                </p>
            </div>
            #if($noticias.size() > 1)
                <div class="row">
            #end
            #else
                <div class="span4">
                    <h2>$noticia.titulo</h2>
					$noticia.fechaPublicacion
                    <p>$noticia.subtitulo</p>
                    <p>
                        <a class="btn" href="#">Ver Completo &raquo;</a>
                    </p>
                </div>
        #end
    #end
    #if($noticias.size() > 1)
                </div>
    #end
#end