<div class="hero-unit">
    <h1>$ultimaNoticia.titulo</h1>
    <p>$ultimaNoticia.subtitulo</p>
    <p>
        <a class="btn btn-primary btn-large">Ver Completo &raquo;</a>
    </p>
</div>
<div class="row">
    #foreach($noticia in $noticias234)
        <div class="span4">
            <h2>$noticia.titulo</h2>
            <p>$noticia.subtitulo</p>
            <p>
                <a class="btn" href="#">Ver Completo &raquo;</a>
            </p>
        </div>
    #end
</div>
